@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 239, 237, 0.7);
    background-color: #ccccc0;
  }
  50% {
    box-shadow: 0 0 20px 10px rgba(231, 76, 60, 0.4);
    background-color: #fd672b;
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 239, 237, 0.7);
    background-color: #ccccc0;
  }
}

.table-safety {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0px;
  flex: 0 0 28px;

  .table-safety-button {
    flex: 1;
    height: 28px;
    border: none;
    border-radius: 0;
    width: var(--control-size);
    height: var(--control-size);
    background: var(--control-bg-color);
    border: 1px solid var(--control-border-color);
  }

  .table-safety-button:active {
    border: 1px solid #fd672b;
  }

  .table-safety-acknowledge {
    background-color: #686868;
  }

  .table-safety-acknowledge.active {
    animation: pulse 1.5s infinite ease-in-out;
    border: 1px solid #4e3534;
  }
}